<h1 style="text-align: center">Edit a Worker</h1>

<form action="/api/workers/<%=worker.id%>?_method=PUT" method="POST">
  <input type="text" name="name" value="<%= worker.name %>" />

  <input type="text" name="status" value="<%= worker.status %>" />

  <button>Update!</button>
  <a href="/api/shifts">Check shifts</a>
  <a href="/api/workers">Check workers</a>
</form>
